* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", cursive;
  background-color: #6ac1fb;
}

header {
  text-align: center;
  color: white;
  font-size: xx-large;
}

main {
  margin-left: 500px;
}

.carta {
  display: inline-block;
  height: 230px;
  width: 200px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 15px;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.carta img {
  width: 90%;
  visibility: hidden;
}

.carta-scoperta {
  display: inline-block;
  height: 230px;
  width: 200px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
}
.carta-scoperta img {
  width: 90%;
}

.carta-scoperta .testo {
  visibility: visible;
}

.testo {
  color: #ff00ff;
  text-align: center;
  visibility: hidden;
}

.carta:hover {
  background-image: none;
  background-color: white;
}

.carta:hover .testo {
  color: orange;
  visibility: visible;
}

.carta:hover img {
  visibility: visible;
}

footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
